<style>
  /*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}

    /*----- Tab Links -----*/
    /* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background:#7fdaa4;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
}

.tab-links a:hover {
    background:#7fdaa4;
    text-decoration:none;
}

li.active a, li.active a:hover {
    background:#fff;
    color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}
</style>

<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">Dashboard</a></li>
        <li><a href="#tab2">About</a></li>
        <li><a href="#tab3">Gallery</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab active">

            <div class="row">

                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <table class="table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Content</th>
                        <th>Posted at</th>
                        <th>Photo</th>
                        <th><%= link_to "New", new_food_path %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @foods.each do |food| %>
                      <tr>
                        <td><%= link_to food.name, food %></td>
                        <td><%= truncate food.content, length: 100 %></td>
                        <td><%= time_ago_in_words(food.created_at) %> ago</td>
                        <td><%= image_tag food.image_url(:thumb).to_s %></td>
                        <td><%= link_to "All Stuff", categories_path %></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
              </div>
          </div>
        <div class="col-md-1"></div>
        </div>

        <div id="tab2" class="tab">
          <h1><%= @user.username %> </h1>
          <em><%= link_to "edit user", edit_registration_path(resource_name) %></em>
          <h5><%= @user.about %></h5>

        </div>

        <div id="tab3" class="tab">
            <p>Tab #3 content goes here!</p>
            <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum ri.</p>
        </div>
    </div>
</div>

<script>
  jQuery(document).ready(function() {
    jQuery('.tabs .tab-links a').on('click', function(e)  {
        var currentAttrValue = jQuery(this).attr('href');

        // Show/Hide Tabs
       jQuery('.tabs ' + currentAttrValue).fadeIn(600).siblings().hide();

        // Change/remove current tab to active
        jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

        e.preventDefault();
    });
});
</script>