<div class="container">
  <div class="row">
    <h3><%= @category.name %></h3>
    <% if user_signed_in? and current_user.admin? %>
      <h4><%= link_to "Edit", edit_category_path %> || <%= link_to "Delete", category_path, method: :delete %></h4>
    <% end %>
    <br>
    <% @category.foods.each do |food| %>
      <div class="col-md-3">
        <center><%= link_to (image_tag food.image_url(:thumb).to_s), food %></center>
        <h3 class="text-center"><%= food.name %></h3>
      </div>
    <% end %>
  </div>
</div>